* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f172a, #020617);
    color: #e5e7eb;
}


.music-player {
    width: 350px;
    background: #020617;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 40px rgba(56,189,248,0.3);
}


.cover img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}


.song-info {
    text-align: center;
    margin-bottom: 15px;
}

.song-title {
    color: #38bdf8;
}

.artist-name {
    font-size: 14px;
    color: #94a3b8;
}


.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 15px 0;
}

.controls button {
    background: none;
    border: none;
    font-size: 28px;
    color: #e5e7eb;
    cursor: pointer;
    transition: 0.3s;
}

.controls button:hover {
    color: #38bdf8;
    transform: scale(1.2);
}

.play {
    color: #38bdf8;
}


.progress-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.progress-bar {
    flex: 1;
    height: 5px;
    background: #1e293b;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    width: 45%;
    height: 100%;
    background: #38bdf8;
}


.volume-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}


.playlist {
    margin-top: 20px;
}

.playlist h4 {
    margin-bottom: 10px;
    color: #38bdf8;
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.song:hover {
    background: #020617;
    box-shadow: 0 0 10px #38bdf8;
}

.song.active {
    background: rgba(56,189,248,0.15);
}

.song-details span {
    display: block;
}

.song-details small {
    color: #94a3b8;
}

.song input {
    display: none;
}

.song i {
    font-size: 20px;
    color: #64748b;
    transition: 0.3s;
}

.song input:checked + .song-details + i {
    color: #ef4444;
}
